/* google fonts */ /* atalho para comentario shift + alt + A */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* variaveis das cores*/
/* TEMA DARK*/
:root, :root[data-thame="dark"] {
    --primary-color:#ffffff; /*cor principal texto */
    --primary-bg-color:#18191a; /* cor principal do fundo*/
    --secondary-bg-color: #28292e;
    --primary-border-color: #28292e;
    --secondary-border-color: #e0e1e6;
    --title-color: #F0F0F0;
    --link-hover: #8f8f9f;
    --link-color: #f0f0f0;
    --icon-color: #c7c8c9;

}
/* TEMA LIGT*/
:root[data-theme='light'] {
    --primary-color: #0c0101; /* cor principal textos/cor do fundo  */
    
    --primary-bg-color: #f0f2f5; /* cor do fundo */
    --secondary-bg-color: #C7C8C9;
   
    --primary-border-color: #C7C8C9; /* cor da borda */
    --secondary-border-color: #c6c6c9;

    --title-color: #0b0b0f;
    --link-hover: #a3a2a2;
    --link-color: #0b0b0f;
    --icon-color: #56575a;
}

/* reset CSS */
* {
    margin: 0; /* margem */
    padding: 0; /* prenchimento  */
    box-sizing: border-box;  /*dimensionamento de caixa */
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin; /* barra de rolagem */
    scrollbar-color: var(--secondary-bg-color) transparent;
}



body {
    background: var(--primary-bg-color); /*cor fundo*/ 
    color: var(--primary-color); /* cor geral dos textos*/
    font-family:'Playwrite', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration:none;
    color: var(--link-hover)
}

a:hover {
    color: var(--primary-color);
}


i {
    color: var(--icon-color);
}
.header {
    display: flex;
    flex-flow: row wrap;    /* coloca o conteudo em linha e permite a quebra de linha */
    justify-content: space-between;   /* os intens dentro do container (caixa) flexivel serão distribuidos de maneira uniforme ao longo do eixo principal, com espaços iguais entre elas */


    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem; /* O primeiro muda encima e embaixo, o segundo muda a direita e esquerda */
    z-index: 2; /* sobreposição ou profundidade   */
    background: var(--secondary-bg-color);
}

.header-logo .logo{
    width: 3.25rem;
    height: 3.25rem;
}

.header-logo .logo2 {
    width: 10rem;
    height: 5rem;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

html[data-theme='light'] .logo {
filter: invert(1);
}

html[data-theme='light'] .logo2 {
    filter: invert(1);
}


#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color) ;
    cursor: pointer;
    transition: ease-in-out .4s; 
    float: right;
    position: relative;
}

.menu {
    display: flex;
    /* torna o elemento um flex container (caixa flexivel/se adpta a qualquer tela) automaticamente transformando todos os filhos diretos em flex itens */
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-mobile { /* ul /lista nao ordenada */
    width: 100%;
    position: fixed;
    bottom: 0;
   justify-content: space-between;
   border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem ; /* primeiro valor é superior, segundo valor direita e esquerda e o terceiro valor é inferior  */
}

.menu-link.active .menu-icon,  
.menu-link.active .menu-text, 
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--link-hover)
}

.menu-icon, .menu-text {
    color: var(--link-color);
    font-weight: 600;
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: .75rem;
}
 
.header-nav {
    display: none;
}

.menu-principal {
    gap: 1rem;
}

.menu-social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--secondary-border-color);
    border: none;
    cursor: none;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out .3s;
}
.btn-primary {
    border: 1px solid var(--secondary-border-color);
}

 .btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
 }

 .btn span, 
 .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;   
 }
#home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
#home, .projetos, .sobre, .contato {
    padding: 5rem 5rem;
}
/*  sobre */
.sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre-content1, .sobre-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sobre-perfil {
    width: 100%;
    border-radius: 50%;
    border: 8px solid var(--link-color)
}

.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    gap: 1rem;
}

.sobre-icones {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sobre-content2 .col1, 
.sobre-content2 .col2 {
 display: flex;
 flex-direction: column;
 text-align: justify;
 gap: 1rem;
}

.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

/* cursor  */
.accordion-header {
    width: 100;
    display: flex;
    padding: 0.75rem 1rem; 
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 1px solid var(--primary-border-color);
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.accordion-header span {
    color: var(--title-color);
}

.accordion-header.start {
    border-radius: 1rem 1rem 0rem;
}


.accordion-header.end,
.accordion-item-active .accordion-body.end {
    border-radius: 0rem 0rem 1rem 1rem;
}


.accordion-body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid var(--primary-border-color);
}

.accordion-item.active .accordion-item.end {
    border-radius: 0;
}

.accordion-body {
    /* display: none; */
    padding: 1.25rem;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid var(--primary-border-color);
}

.accordion-item.active .accordion-header {
    background: var(--secondary-bg-color);
}

.accordion-item.active .accordion-body {
    display: flex;
}
 .accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
 }

 /* contato */
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0,5;
    border-top: 1px solid var(--primary-border-color); border-bottom: 2px solid var(--secondary-border-color);
}

.contato .btn {
    width: auto;
}

.contato .email {
    text-transform: uppercase;
}

/* roda pé footer */
footer {
    margin-bottom: 5rem;
}

footer p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
/* ------------------------------------------- */

/* CSS responsivo */
@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
    }
    .nav-mobile {
        display: none;
    }
    .header-nav {
        display: flex;
    }
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 4rem; 
}
.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-cover{ /* codigo para mexer nas img */
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}


.card-cover3 { /* codigo para mexer nas img */
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card-title{
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 400;
    font-family: 'poppins';
}

.card-description{
    color: var(--primary-color);
    text-align: justify;
}

.card-lista{
    margin-left: 2rem;
}

.card-item{
    list-style: circle;
    margin: 0.25rem;
}

.card-button, .card-description{
    display: flex;
    flex-flow: row wrap; /* manter o conteudo, manter em linha */
    justify-content: center;
}

.card-button .btn{
    padding: 0.65rem 1.25rem;
}

.card-button span{
    font-size: 1rem;
}

@media (min-width: 992px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
    }
    .nav-mobile {
        display: none;
    }
    
    .header-nav {
        display: flex  ;
    }
    .header-nav,
    .header-toggle {
        min-width: 30%;
    }
    h1 {
        font-size: 4,5rem;
    }
    h2{
        font-size: 3rem;
    }
    #home, .projetos .sobre, .contato {
        padding: 8rem 6rem 4rem 6rem;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contato {
        padding:6rem ;
    }
    .contato p {
        width: 80;
    }
    footer {
        margin: 0%;
    }
}  /* fim da resolução 768 */

/* inicio resolução 992 */
@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }
    .card-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card-cover {
        width: 55%;
    }
    .card-cover3 {
        width: 30%;
    }
    .sobre {
        gap: 5rem;
    }
    .sobre-content1, .sobre-content2 {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
}

@media (min-width:1200px ){
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    #home {
        padding: 10em 6rem 2rem;
    }
    p, span, li {
        font-size: 1.15;
    }
    .card-button .btn, .descricao-button .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
}
